
.fix{
  position:fixed;
  bottom:0px;
  left:50%;
}

.habits {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.homepagePane {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}